@{
    ViewBag.Title = "Home Page";
}

<h1>Here is where you put your page content</h1>

@section styles {
    <link rel="stylesheet" href="Content/index.css" />
}

@section scripts {
    <script src="Scripts/index.js"></script>
}